<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0" style="background-color: #EEEEEE;">

<nav class="navbar navbar-expand-lg" style="background-color: #15F5BA; border-radius: 10px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'studenthomepage' %}">Student's Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'studenthomepage' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'companyNames' %}">Companies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'apply' %}">Apply</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'myProfile' %}">Update Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'applied' user.first_name %}">Applied</a>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Welcome, {{ user.first_name }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Define a block for child templates to override -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
